html {
  scroll-behavior: smooth;
}

body{
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 30px;
line-height: 1.6;
color: #black;
background: #093A3E;
margin: 0px auto;
padding: 0px;
text-align: center;
}


 h1{ color: #black;}
 h2, h3, h4, h5 {color: #black;}

 .nav-bar {
   width: 100%;
   background: #b5838d;
 color: #purple;
}
.Logo img {
  display: block;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border: 10px #C8D3D5;
}

nav {
  padding: 10px;
}
nav a {color: #333333;
}
nav a:hover { color: #C8D3D5;
border-bottom: 1px solid pink;}


  .nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    z-index:10;
  }
  .Überschrift {
    border-bottom: 0;
    color: teal;
  }


.headline-container {display: flex;
justify-content: flex-end;
margin: 100px;}
.oben {
  position: relative;}
.oben img {
  display: block;
   max-height: 100vh;
    object-fit:cover;
    width: 100%;
  }
.oben .headline-container {
  position: absolute;
   text-align: center;
   width: 100%;
 top:50%;
left:50%;
 transform: translate(-50%, -50%);
}
.oben h1 {
  font-size: 1.2rem;
  font-weight:bold;
}
@media (min-width:768px) {
  .oben h1 {font-size:2rem;}
}

.Liste {font-style: italic; text-align: center;}
.Liste li {color: lightblue;}

footer a {color: #b5838d;}
footer a:hover {color: lightblue;
border: 2px solid pink;
background: #b08968;
transition: all 1s ease;}

schöne farben: 7BA098 (morning blue)
C8D3D5 light gray
b08968 ocker
